<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>

    <form id="user-form">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <button type="submit">nya</button>
    </form>
    <ul id="user-list"></ul>
    <script type="module" src="@Url.Content("~/js/UserList.js")"></script>
</body>
</html>